
<% if flash[:notice]%>
<ul>
  <li class ="alert alert-info"><%=flash[:notice]%></li>
</ul>

<%end%>

<h1>Login Page</h1>

<%= form_tag sessions_path do %>
  <%= label_tag "Username" %>
  <%= text_field_tag :user_name %>
  <%= label_tag "Password" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign In" %>
<% end %>
