<h1 style="text-align:center">Festly Artists</h1>

<table class = 'table table-striped artists-table'>
    <thead>
      <tr>
        <th></th>
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Genre</th>
        <th style="text-align:center">Description</th>
        <th colspan="3"></th>
      </tr>
  </thead>

  <tbody >
    <% @artists.each do |artist| %>
      <tr>
        <td><img class="artist-image img-responsive" src="<%= artist.image %>"></td>
        <td><p><%= link_to artist.name, artist %><p></td>
        <td><p><%= artist.genre %><p></td>
        <td><p><%= artist.description %></p></td>
        <td>
          <%= link_to 'See Artist', artist, :class => "btn btn-success btn-sm"  %><br><br>
          <%if @user && @user.admin?%>
            <%= link_to 'Edit', edit_artist_path(artist), :class => "btn btn-info btn-sm"  %><br><br>
            <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
