<% if flash[:errors]%>
<ul>
  <%flash[:errors].each do |err|%>
  <span style="color:red"><li><%=err%></li></span>
  <%end%>
<%end%>
</ul>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">



        <h1 class="text-center"><%=@artist.name%></h1>

        <img class="artist-image-show img-responsive" src="<%= @artist.image %>"><br>
          <%if @artist.id != Artist.first.id%>
          <%= button_to "Previous Artist", "/artists/#{@artist.id-1}", method: :get, :class => "btn btn-info btn-sm center-block"%>
          <%end%><br>

          <%if @artist.id != Artist.last.id%>
          <%= button_to "Next Artist", "/artists/#{@artist.id+1}", method: :get, :class => "btn btn-info btn-sm center-block"%>
          <%end%><br>

        <div class="well">


          <h3>Genre:</h3><%=@artist.genre %><br>
          <h3>Description:</h3><%=@artist.description %><br>
          <h3>Festival Performances:</h3>
          <ul>
            <%@artist.festivals.each do |festival| %>
            <li><%="#{festival.brand} #{festival.year}"%></li>
            <%end%>
          </ul>


          <%if @user && @user.admin? %>
            <h1>Book this Artist at a Festival</h1>

            <%= form_for @performance do |f| %>
              <%= f.collection_select(:festival_id, @festivals, :id, :brand, prompt: true)%>
              <%= f.label "Tier"%>
              <%= f.number_field :tier%>
              <%= f.submit%>
            <% end %>

            <% flash[:artist_id] = @artist.id %>
          <%end%>



        </div>
      </div>
    </div>
  </div>
