<h1>This is the page for <%=@artist.name%></h1>

<img src="<%= @artist.image %>"><br>
Genre: <%=@artist.genre %> <br>
Description: <%=@artist.description %><br>
Festival Performances:
<%@artist.festivals.each do |festival| %>
<li><%="#{festival.brand} #{festival.year}" %></li>
<%end%>


<%if @artist.id != Artist.first.id%>
<%= button_to "Previous Artist", "/artists/#{@artist.id-1}", method: :get%>
<%end%>

<%if @artist.id != Artist.last.id%>
<%= button_to "Next Artist", "/artists/#{@artist.id+1}", method: :get%>
<%end%>
