<h1><%= @user.name %>'s Page</h1>

<%= button_to "View All Festivals", "/festivals", method: :get %>

<ol>
<% @user.festivals.each do|festival| %>
  <li><img src="<%= festival.image %>"<br>
    <%= festival.brand %>
  </li>
    <br>
  <% end %>
</ol>

<%= button_to "Logout", logout_path, method: :delete %>
<%= button_to "Delete My Account", "/users/#{@user.id}", method: :delete %>
