<% if flash[:notice]%>
  <%=flash[:notice]%>
<%end%>

<h1><%= @user.name %>'s Page</h1>



<ol>
<% @user.tickets.each do|ticket| %>
  <li><img src="<%= ticket.festival.image %>"<br>
    <%= ticket.festival.brand %>
    <%= " $".concat(ticket.festival.ticket_price.to_s) %>
    <%= button_to "Get a Refund", "/tickets/#{ticket.id}", method: :delete%>
  </li>
    <br>
  <% end %>
</ol>

<%= button_to "Logout", logout_path, method: :delete %>
<%= button_to "Delete My Account", "/users/#{@user.id}", method: :delete %>
