<% if flash[:errors]%>
<ul>
  <%flash[:errors].each do |err|%>
  <span style="color:red"><li><%=err%></li></span>
  <%end%>
<%end%>
</ul>

<% if flash[:notice]%>
  <%=flash[:notice]%>
<%end%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">




<h1 class="text-center"><%=@venue.name%></h1>




<img class="venue-image-show img-responsive" src="<%= @venue.image %>"><br>
    <%if @venue.id != Venue.first.id%>
    <%= button_to "Previous Venue", "/venues/#{@venue.id-1}", method: :get, :class => "btn btn-info btn-sm center-block" %>
    <%end%><br>

    <%if @venue.id != Venue.last.id%>
    <%= button_to "Next Venue", "/venues/#{@venue.id+1}", method: :get, :class => "btn btn-info btn-sm center-block"%><br>
    <%end%>
        </div>

  <div class="well">

  <h3>Festivals Hosting: </h3>
  <ul>
  <%@venue.festivals.uniq.each do |festival|%>
    <li><%=link_to festival.brand, festival%></li>
  <%end%>
  </ul>

 <%if @user && @user.admin? %>
    <h3>Interested in Booking this Venue for a Festival?</h3>

    <%= form_for @festival_venue do |f| %>
      <%= f.collection_select(:festival_id, @festivals, :id, :brand, prompt: true)%>
      <%= f.submit "Book Venue"%>
    <% end %>

    <% flash[:venue_id] = @venue.id %>
<%end%>

  <h3>Number of Performances Hosted: </h3>

  <strong><%= @venue.total_performances_hosted %></strong>



        </div>
      </div>
    </div>
  </div>
