<h1>This is the page for <%=@venue.name%> in the Beautiful State of <%=@venue.state%></h1>

<img src="<%= @venue.image %>"></td>

  <h3>Festivals Hosting: </h3>

  <%@venue.festivals.each do |festival|%>
    <li><%=festival.brand%></li>
  <%end%>

  <h3>Number of Performances Hosted: </h3>

  <%= @venue.total_performances_hosted %>

  <%if @venue.id != Venue.first.id%>
  <%= button_to "Previous Venue", "/venues/#{@venue.id-1}", method: :get%>
  <%end%>

  <%if @venue.id != Venue.last.id%>
  <%= button_to "Next Venue", "/venues/#{@venue.id+1}", method: :get%>
  <%end%>
