<h1 class="text-center">Analytics Page</h1>
<br><br>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>
        <h3><strong>Amount of Festly Users</strong></h3>
        <p><%= @users.length %></p>
      </td>
    </tr>
    <tr>
      <td>
        <h3><strong>Total Festivals</strong></h3>
        <p><%= @festivals.length %></p>
      </td>
    </tr>
    <tr>
      <td>
        <h3><strong>Total Tickets Sold</strong></h3>
        <p><%= @tickets.length %></p>
      </td>
    </tr>
    <tr>
      <td>
        <h3><strong>Total in Sales</strong></h3>
        $<%=@tickets.total_ticket_sales%>
      </td>
    </tr>
    <tr>
      <td>
        <h3><strong>Total Performances</strong></h3>
        <p><%= @performances.length %></p>
      </td>
    </tr>
    <tr>
      <td>
        <h3><strong>Most Popular Festival by Tickets Sold</strong></h3>
        <%=@tickets.most_popular_festival_by_ticket_sales.brand%>

        <h4><strong>Number of Tickets Sold: </strong></h4>
        <%=@tickets.number_of_tickets_sold_by_most_popular_festival%>

        <h4><strong>Total in Ticket Sales of Most Popular Festival</strong></h4>
        <%=@tickets.total_in_sales_raised_by_most_popular_festival%>

        <h4><strong>Number of Peformances:</strong></h4>
        <%=@performances.number_of_performances_by_artist_with_most_performances%>
      </td>
    </tr>
    <tr>
      <td>
        <h3><strong>Artist With Most Tier 1 Performances</strong></h3>

        <%=@performances.artist_with_most_tier_one_performances.name%>

        <h4><strong>Number of Tier 1 Performances by Artist</strong></h4>
        <%=@performances.number_of_performances_by_artist_with_most_tier_one_performances%>
      </td>
    </tr>
  </tbody>
</table>
