<% if flash[:errors]%>
  <span style="color:red"><li><%=flash[:errors]%></li></span>
<%end%>

<% if flash[:notice]%>
  <%=flash[:notice]%>
<%end%>

<div class="container">

  <header class="jumbotron">
           <div class="container">
               <h1>Welcome To Festly!</h1>
               <p>View the best music festivals from all over the U.S.</p>
               <p>
                  <a class="btn btn-primary btn-large" href="/festivals/new">Add New Festival</a>
               </p>
           </div>
  </header>


  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% @festivals.each do |festival| %>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="<%= festival.image %>">
          <div class="caption">
            <h4><%= festival.brand %> <br><%= festival.year %></h4>
          </div>
          <p>
            <%= link_to 'Show', festival, class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    <% end %>
</div>

</div>
