<p id="notice"><%= notice %></p>

<img src="<%= @festival.image %>">

<p>
  <strong>Brand:</strong>
  <%= @festival.brand %>
</p>

<p>
  <strong>Year:</strong>
  <%= @festival.year %>
</p>

<p>
  <strong>Venues:</strong>
  <ul>
  <% @festival.venues.each do |venue| %>
    <li><%=link_to venue.name.concat(", ").concat(venue.state), venue%></li><br>
  <%end%>
  </ul>
</p>



<p>
  <strong>Description:</strong>
  <%= @festival.description %>
</p>



<p>
  <strong>Age limit:</strong>
  <%= @festival.age_limit %>
</p>

<p>
  <strong>Ticket price:</strong>
  $<%= @festival.ticket_price %>
</p>

<p style= "display: inline">
  <strong>Late night?:</strong>
  <% if @festival.late_night? %>
    <p style= "display: inline">Yes</p>
  <% else %>
    <p style= "display: inline">No</p>
  <% end  %>
</p>

<%= link_to 'Edit', edit_festival_path(@festival) %> |
<%= link_to 'Back', festivals_path %>

<div>
  <ul>
  <%@festival.artist_ranker.uniq.each do |artist_name|%>
  <li><%=link_to artist_name, @artists.find_by(name: artist_name)%></li>
  <%end%>
  </ul>
</div>


<%if @festival.id != Festival.first.id%>
<%= button_to "Previous Festival", "/festivals/#{@festival.id-1}", method: :get%>
<%end%>

<%if @festival.id != Festival.last.id%>
<%= button_to "Next Festival", "/festivals/#{@festival.id+1}", method: :get%>
<%end%>
