<!DOCTYPE html>
<html>
  <head>
    <title>Musify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
  </head>

  <body>

    <div id="landing-header">
 		<h1>Welcome to Festly!</h1>
		<a href="/festivals" id="button-color" class="btn btn-lg btn-success">View All Festivals</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <%= yield %>
  </body>
</html>
